:root
  --balloon-border-radius 3px
  --balloon-color rgba(16, 16, 16, .85)
  --balloon-text-color #fff
  --balloon-font-family 'Ubuntu', sans-serif
  --balloon-font-size 0.9rem
  --balloon-move 4px

//button[data-balloon-text][data-balloon-position]
//  overflow visible

[data-balloon-text][data-balloon-position]
  position relative
  cursor pointer

[data-balloon-text][data-balloon-position]:after
  opacity 0
  pointer-events none
  transition all .18s ease-out .18s
  text-indent 0
  //font-family -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif
  //font-family var(--balloon-font-family)
  font-weight 500
  font-style normal
  text-shadow none
  font-size var(--balloon-font-size)
  background var(--balloon-color)
  color var(--balloon-text-color)
  border-radius var(--balloon-border-radius)
  content attr(data-balloon-text)
  padding 0.46em 1em
  position absolute
  white-space nowrap
  z-index 10

[data-balloon-text][data-balloon-position]:before
  width 0
  height 0
  border 5px solid transparent
  border-top-color var(--balloon-color)
  opacity 0
  pointer-events none
  transition all .18s ease-out .18s
  content ""
  position absolute
  z-index 10

[data-balloon-text][data-balloon-position]:hover:before,
[data-balloon-text][data-balloon-position]:hover:after,
[data-balloon-text][data-balloon-position][data-balloon-visible]:before,
[data-balloon-text][data-balloon-position][data-balloon-visible]:after,
[data-balloon-text][data-balloon-position]:not([data-balloon-nofocus]):focus:before,
[data-balloon-text][data-balloon-position]:not([data-balloon-nofocus]):focus:after
  opacity 1
  pointer-events none

[data-balloon-text][data-balloon-position].font-awesome
  &:after
    font-family FontAwesome, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif

[data-balloon-text][data-balloon-position][data-balloon-break]:after
  white-space pre

[data-balloon-text][data-balloon-position][data-balloon-break][data-balloon-length]:after
  white-space pre-line
  word-break break-word

[data-balloon-text][data-balloon-position][data-balloon-blunt]:before,
[data-balloon-text][data-balloon-position][data-balloon-blunt]:after
  transition none

[data-balloon-text][data-balloon-position][data-balloon-position=up]:hover:after,
[data-balloon-text][data-balloon-position][data-balloon-position=up][data-balloon-visible]:after,
[data-balloon-text][data-balloon-position][data-balloon-position=down]:hover:after,
[data-balloon-text][data-balloon-position][data-balloon-position=down][data-balloon-visible]:after
  transform translate(-50%)

[data-balloon-text][data-balloon-position][data-balloon-position=up]:hover:before,
[data-balloon-text][data-balloon-position][data-balloon-position=up][data-balloon-visible]:before,
[data-balloon-text][data-balloon-position][data-balloon-position=down]:hover:before,
[data-balloon-text][data-balloon-position][data-balloon-position=down][data-balloon-visible]:before
  transform translate(-50%)

[data-balloon-text][data-balloon-position][data-balloon-position*=-left]:after
  left 0

[data-balloon-text][data-balloon-position][data-balloon-position*=-left]:before
  left 5px

[data-balloon-text][data-balloon-position][data-balloon-position*=-right]:after
  right 0

[data-balloon-text][data-balloon-position][data-balloon-position*=-right]:before
  right 5px

[data-balloon-text][data-balloon-position][data-balloon-po*=-left]:hover:after,
[data-balloon-text][data-balloon-position][data-balloon-po*=-left][data-balloon-visible]:after,
[data-balloon-text][data-balloon-position][data-balloon-position*=-right]:hover:after,
[data-balloon-text][data-balloon-position][data-balloon-position*=-right][data-balloon-visible]:after
  transform translate(0)

[data-balloon-text][data-balloon-position][data-balloon-po*=-left]:hover:before,
[data-balloon-text][data-balloon-position][data-balloon-po*=-left][data-balloon-visible]:before,
[data-balloon-text][data-balloon-position][data-balloon-position*=-right]:hover:before,
[data-balloon-text][data-balloon-position][data-balloon-position*=-right][data-balloon-visible]:before
  transform translate(0)

[data-balloon-text][data-balloon-position][data-balloon-position^=up]:before,
[data-balloon-text][data-balloon-position][data-balloon-position^=up]:after
  bottom 100%
  transform-origin top
  transform translateY(var(--balloon-move))

[data-balloon-text][data-balloon-position][data-balloon-position^=up]:after
  margin-bottom 10px

[data-balloon-text][data-balloon-position][data-balloon-position=up]:before,
[data-balloon-text][data-balloon-position][data-balloon-position=up]:after
  left 50%
  transform translate(-50%, var(--balloon-move))

[data-balloon-text][data-balloon-position][data-balloon-position^=down]:before,
[data-balloon-text][data-balloon-position][data-balloon-position^=down]:after
  top 100%
  transform translateY(calc(var(--balloon-move) * -1))

[data-balloon-text][data-balloon-position][data-balloon-position^=down]:after
  margin-top 10px

[data-balloon-text][data-balloon-position][data-balloon-position^=down]:before
  width 0
  height 0
  border 5px solid transparent
  border-bottom-color var(--balloon-color)

[data-balloon-text][data-balloon-position][data-balloon-position=down]:after,
[data-balloon-text][data-balloon-position][data-balloon-position=down]:before
  left 50%
  transform translate(-50%, calc(var(--balloon-move) * -1))

[data-balloon-text][data-balloon-position][data-balloon-position=left]:hover:after,
[data-balloon-text][data-balloon-position][data-balloon-position=left][data-balloon-visible]:after,
[data-balloon-text][data-balloon-position][data-balloon-position=right]:hover:after,
[data-balloon-text][data-balloon-position][data-balloon-position=right][data-balloon-visible]:after
  transform translateY(-50%)

[data-balloon-text][data-balloon-position][data-balloon-position=left]:hover:before,
[data-balloon-text][data-balloon-position][data-balloon-position=left][data-balloon-visible]:before,
[data-balloon-text][data-balloon-position][data-balloon-position=right]:hover:before,
[data-balloon-text][data-balloon-position][data-balloon-position=right][data-balloon-visible]:before
  transform translateY(-50%)

[data-balloon-text][data-balloon-position][data-balloon-position=left]:after,
[data-balloon-text][data-balloon-position][data-balloon-position=left]:before
  right 100%
  top 50%
  transform translate(var(--balloon-move), -50%)

[data-balloon-text][data-balloon-position][data-balloon-position=left]:after
  margin-right 10px

[data-balloon-text][data-balloon-position][data-balloon-position=left]:before
  width 0
  height 0
  border 5px solid transparent
  border-left-color var(--balloon-color)

[data-balloon-text][data-balloon-position][data-balloon-position=right]:after,
[data-balloon-text][data-balloon-position][data-balloon-position=right]:before
  left 100%
  top 50%
  transform translate(calc(var(--balloon-move) * -1), -50%)

[data-balloon-text][data-balloon-position][data-balloon-position=right]:after
  margin-left 10px

[data-balloon-text][data-balloon-position][data-balloon-position=right]:before
  width 0
  height 0
  border 5px solid transparent
  border-right-color var(--balloon-color)

[data-balloon-text][data-balloon-position][data-balloon-length]:after
  white-space normal

[data-balloon-text][data-balloon-position][data-balloon-length=small]:after
  width 80px

[data-balloon-text][data-balloon-position][data-balloon-length=medium]:after
  width 150px

[data-balloon-text][data-balloon-position][data-balloon-length=large]:after
  width 260px

[data-balloon-text][data-balloon-position][data-balloon-length=xlarge]:after
  width 380px

@media screen and (max-width: 768px)
  [data-balloon-text][data-balloon-position][data-balloon-length=xlarge]:after
    width 90vw

[data-balloon-text][data-balloon-position][data-balloon-length=fit]:after
  width 100%
