// default
@import "~vue-toast-notification/dist/theme-sugar.css"

// custom
.v-toast
  padding ($navbarHeight + 1em) 1em !important
.v-toast__item
  cursor default !important
  max-width 600px
  max-height 800px
  min-width 326px
  min-height 64px !important
  border-radius 8px !important
  .v-toast__icon
    transform scale(0.8)
