// fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap')

// modules
@import "modules/balloon.styl"
@import "modules/grid.styl"
@import "modules/notification.styl"
@import "modules/scrollbar.styl"
@import "modules/smooth-scroll.styl"
@import "modules/tooltip.styl"
@import "modules/zoom.styl"

body
  font-family 'Ubuntu', sans-serif

.container
  max-width 1520px
  width calc(100% - 3rem)
  margin-left auto
  margin-right auto
  @media (max-width 1580px)
    max-width $contentWidth

.mobile-can-hide
  @media (max-width: $MQMobile)
    display none

.mobile-narrow-can-hide
  @media (max-width: $MQMobileNarrow)
    display none

.icon-external
    display none

// sidebar
@media (max-width: $MQNarrow)
  .sidebar
    font-size 15px
    width $sidebarWidth * 1.06

// layout
.bread-crumbs,
.theme-default-content:not(.custom)
  @media (max-width 1760px)
    max-width 880px !important

// text
.text-accent
  color $accentColor
.text-truncate
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

// code
.theme-code-group__nav-tab,
.theme-code-group__nav-tab-active
  &:focus
    outline none
